.pioenvs
.piolibdeps
.pio
.clang_complete
.gcc-flags.json
.sconsign.dblite
/web/node_modules
/web/build
/web/package-lock.json
/dist/*
/.vscode/
/test/remote/settings.json
/test/remote/espmh.env
lib/Environment/wifi_credentials.h